.item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}

.item-detail-image {
  width: 600px; /* Ancho fijo para las img */
  height: auto; /* Mantener la proporción de la img */
  margin-bottom: 20px;
}

.item-detail-text {
  text-align: center;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}
